svg text {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.selected circle {
    fill: turquoise;
}

circle {
    fill-opacity: .4;
    fill: #ccc;
    stroke: #222;
    stroke-width: .5px;
}

rect { fill-opacity: 0; }
.root rect {
    stroke: none;
    fill-opacity: 0;
}

.leaf circle {
  fill-opacity: .9;
}

.initial circle {
  stroke: #222;
  fill-opacity: .8;
  stroke-width: 1.2px;
}

.current circle {
  fill: gold;
  fill-opacity: 1;
}

text {
  font: 10px sans-serif;
}

.link {
  fill: none;
  stroke: #909090;
  stroke-width: 1.5px;
}


::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}