circle {
  fill: #a1a1a1;
  fill-opacity: .25;
  stroke: #ccc;
  stroke-width: 1px;
}

.leaf circle {
  fill: #909090;
  fill-opacity: 1;
}

text {
  font: 10px sans-serif;
}

.transition {
  fill: none;
  stroke: #545454;
  stroke-width: 1.5px;
}