<!DOCTYPE html>
<html>
  <head>
    <title>Machines</title>
  </head>

  <body style="margin:25px;">
    <h1>Machines</h1>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>FSM Instances</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
<% for(var i in fsms) { -%>
        <tr>
          <td><a href="<%= fsms[i].id %>/show"><%= fsms[i].name %></a></td>
          <td><a href="<%= fsms[i].id %>/instances">inst.</a></td>
          <td><%= fsms[i].description %></td>
        </tr>
<% } -%>
      </tbody>
    </table>
    
    <form action="/v1/fsm/form" method="POST" style="background: #efefef; width: 300px; padding: 0 33px 33px; margin-top: 37px; border-radius: 3px; border: 1px solid #222; ">
      <h2>Create a Machine</h2>
      <label>Name:</label>
      <input type="text" placeholder="Some Name" name="name"/>
      <textarea placeholder="Short description of the machine's purpose..." name="description"></textarea>
      <input type="submit" value="Create FSM"/>
    </form>
  </body>
</html>
